<header>
  <nav class="mobile-nav show-on-mobiles">
    {% include primary-nav-items.html %}
  </nav>
  <div class="grid">
    <div class="unit one-third center-on-mobiles">
      <h1>
        <div id="cf">
          <a href="{{ site.url }}/">
            <span>H2GIS</span>
            <img class="bottom" src="{{ site.url }}/img/logo_h2gis_hover.png" width="251" height="105" alt=""/>
            <img class="top" src="{{ site.url }}/img/logo_h2gis.png" width="251" height="105" alt=""/>
          </a>
        </div>
      </h1>
    </div>
    <nav class="main-nav unit two-thirds hide-on-mobiles">
      {% include primary-nav-items.html %}
    </nav>
  </div>
  <span id="forkongithub"><a href="https://github.com/irstv/H2GIS">Fork me on GitHub</a></span>
</header>
