---
layout: default
---

  <section class="docs">
    <div class="grid">

      {% include docs_contents_mobile.html %}

      <div class="unit four-fifths">
        <article>
          <h1>{{ page.title }}</h1>
          {% if page.version == 'dev' %}
          <span class="post-category">
            <span class="label">Development version</span>
          </span>
          {% else %}
          <span class="post-category">
            <span class="label">Version {{ page.version }}</span>
          </span>
          {% endif %}
          {{ content }}
          {% include section_nav.html %}
        </article>
      </div>

      {% include docs_contents.html %}

      <div class="clear"></div>

    </div>
  </section>
